* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font: arial;
}

/*Cabecalho*/

.cabecalho{
    background-color: #08080A;
    color: #EBD065;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;

}

.psq{
    display: flex;
    align-items: baseline;
}

.psq input{
    padding: 0px 10px;
    width: 350px;
    height: 30px;
    margin: 0px;
    border-radius: 5px 0px 0px 5px;
}

.psq button{
    height: 30px;
    margin: 0px;
    border-radius: 0px 5px 5px 0px;
    width: 55px;
}

.psq button:hover {
    background-color: #EBD065;
}

.navegacao a{
    text-decoration: none;
    color: #EBD065;
    padding: 6px;
    margin: 0px 5px;
    border-radius: 3px;
}

.navegacao a:hover {
    background-color: #1F1700;
}

.menu{
    background-color: #08080A;
    display: flex;
    justify-content: center;
}

.menu a {
    margin: 0px 10px;
    color: #EBD065;
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
}

/*PRINCIPAL*/

.imagem-principal{
    display: flex;
    height: 300px;
    padding: 3px;
    margin: 0px 20px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    
}
main{
    padding: 10px;
    background-color: black;
}
main div img{
    height: 300px;
}
h2{
    text-align: center;
    color: white;
    padding: 15px;
}
/*Musicas*/
.musicas{
    display: flex;
    position: relative;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
::-webkit-scrollbar{
    width: 0px;
}
.cards{
    text-align: center;
    background-color: aquamarine;
    width: 180px;
    padding: 8px;
    border-radius: 8px;
    margin: 5px;
    position: sticky;
    flex-shrink: 0;
    object-fit: cover;
    scroll-behavior: smooth;
}

/*Footer*/
footer {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #08080A;
    color: #EBD065;
    justify-content: center;
}
footer p{
    padding: 0px 15px;
}
footer img {
    width: 50px;
    margin: 0px 10px;
    height: 50px;
    border-radius: 10px;
}
@media screen and (max-width: 800px) {

    .cabecalho{
        justify-content: space-around;
    }

    .psq input{
        width: 200px;
    }
    
    .navegacao, .some{
        display: none;
    }

    .menu a{
        margin: 0px;
    }

    footer{
        flex-direction: column-reverse;
    }

    .saxmg{
        display: none;
    }
}