/*PRINCIPAL*/

.imagem-principal{
    display: flex;
    height: 300px;
    padding: 3px;
    margin: 0px 20px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    
}
main{
    padding: 10px;
}
main div img{
    height: 300px;
}
h2{
    text-align: center;
    padding: 15px;
}
/*Musicas*/
.musicas{
    display: flex;
    position: relative;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
::-webkit-scrollbar{
    width: 5px;
    text-decoration: dotted;
}
.cards{
    text-align: center;
    width: 180px;
    padding: 8px;
    border-radius: 8px;
    margin: 5px;
    position: sticky;
    flex-shrink: 0;
    object-fit: cover;
    scroll-behavior: smooth;
}

/*Footer*/
footer {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
}
footer p{
    padding: 0px 15px;
}
footer img {
    width: 50px;
    margin: 0px 10px;
    height: 50px;
    border-radius: 10px;
}

/*Media Query*/

@media screen and (max-width: 800px) {

    footer{
        flex-direction: column-reverse;
    }

    .saxmg{
        display: none;
    }
}