* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font: arial;
}

header {
    background-color: #08080A;
    color: #EBD065;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;

}

header>nav {
    display: flex;
    align-items: baseline;
}

header>div {
    display: flex;
    align-items: baseline;
}

header>div>.psq {
    padding: 0px 10px;
    width: 350px;
    height: 30px;
    margin: 0px;
    border-radius: 5px 0px 0px 5px;
}

header>div>.btn {
    height: 30px;
    margin: 0px;
    border-radius: 0px 5px 5px 0px;
    width: 55px;
}

header>div>.btn:hover {
    background-color: #EBD065;
}

header>nav>a {
    text-decoration: none;
    color: #EBD065;
    padding: 6px;
    margin: 0px 5px;
    border-radius: 3px;
}

nav>a:hover {
    background-color: #1F1700;
}

body>nav {
    background-color: #08080A;
    display: flex;
    justify-content: center;
}

body>nav>a {
    margin: 0px 10px;
    color: #EBD065;
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;

}

main>div>img {
    border-radius: 15px;
    height: 200px;
    padding: 10px;
}

main>div {
    border-radius: 8px;
    text-align: center;
    width: 180px;
    height: 250px;
    margin: 10px;
    color: black;
    background-color: cadetblue;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

footer {
    text-align: center;
    background-color: #08080A;
    color: #EBD065;
    display: flex;
    justify-content: space-around;
}

footer>div>a>img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

footer>div {
    text-align: center;
    width: 300px;
    padding: 4px;
}

@media screen and (max-width: 800px) {
    header {
        justify-content: space-around;
    }

    header>nav,
    body>nav {
        display: none;
    }
    main>div{
        display: flex;
        align-items:center;
        width: 100vw;
        height: 100px;
    }
    main>div>p{
        padding: 10px;
    }
    main>div>img{
        height: 80px;
    }
    header>div>.psq{
        width: 200px;
    }

    footer {
        display: block;
    }

    footer>div {
        margin: auto;
    }
}