/*Main*/
main{
    display: flex;
    align-items: center;
    text-align: center;
    height: 90vh;
}
.partitura{
    width: 70vw;
    height:100%;
}
.controles{
    width: 30vw;
}
.controles audio{
    width: 20vw;
    padding: 20px 0px;
}
.controles button{
    padding: 10px;
    border-radius: 5px;
    width: 10vw;
    margin-top: 5px;
}

@media screen and (max-width:800px){
    main{
        display: block;
    }

    .controles{
        width: 50vw;
        height: 300px;
        padding: 20px 0px;
        margin: 0px auto;
        border-radius: 10px;
    }
    .controles audio{
        width: 200px;
    }
    .controles button{
        width: 20vw;
    }
    .partitura{
        width: 95vw;
        margin: 0px auto;
    }
    .botoes{
        margin: 0px auto;
        
    }
}